<h2>Eldest director</h2>

<p>The oldest director in our dataset right now is <a href="/directors/<%= @old_timer.id %>"><%= @old_timer.name %></a>, born on <%= @old_timer.dob.strftime("%B %d, %Y.") %></p>
